$p0: 0.25rem;
$p1: 0.5rem;
$p2: 0.75rem;
$p3: 1rem;
$p4: 1.25rem;
$p5: 1.5rem;
$p6: 1.75rem;
$p7: 2rem;

$m0: 0.25rem;
$m1: 0.5rem;
$m2: 0.75rem;
$m3: 1rem;
$m4: 1.25rem;
$m5: 1.5rem;
$m6: 1.75rem;
$m7: 2rem;

$f1: 0.75rem;
$f2: 1rem;
$f3: 1.5rem;
$f4: 2rem;

$r1: 0.25rem;
$r2: 0.5rem;
$r3: 0.75rem;
$r4: 1rem;

$sm: 480px; // Mobile devices
$md: 768px; // iPads, Tablets
$lg: 1024px; // Small screens, laptops
$xl: 1200px; // Desktops, large screens
// $xxl: 1201px; // and more —  Extra large screens, TV